body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elemento {
  width: max-content;
  height: 50px;
  display: flex;
  padding: 10px;
}
